*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(./yoo.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.body{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    padding: 10px;
    font-weight: 300;
}

p{
    color: white;
    padding: 10px;
}